#sort {
    display: flex;
    width: 150px;
    justify-content: space-around;
}
.addUser {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;

    width: 50%;
}
#userList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.user {
    display: flex;
    padding: 5px;
    border: 1px solid #777;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
}
.user form {
    display: flex;
    justify-content: center;
    align-items: space-around;
    margin: 5px 0px;
}
.user form input, .user form button {
    margin: 0 5px;
}
button {
    height: 23px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #eee;
}
input {
    width: 150px;
    height: 23px;
    border-radius: 5px;
    outline: none;
    margin: 0 1px;
}
select {
    width: 150px;
    height: 23px;
    border-radius: 5px;
    
}